*{
  margin: 0;
  padding: 0;
  transition: all 0.1s ease-in-out;
  box-sizing: border-box;
  font-family: "Assistant", sans-serif;
  /* font-optical-sizing: auto; */
  /* font-weight: <weight>; */
  /* font-style: normal; */
}